.device {
    margin-bottom: 20px;
}

.item-description {
    cursor: pointer;
}

.warning-level {
    background-color: #F8F165;
    color: black;
}

.alarm-level {
    background-color: red;
    color: white;
}

.normal-level {
    background-color: #8af17d;
    color: black;
}