.device {
    margin-bottom: 20px;
}

.item-description {
    cursor: pointer;
}

.warning-level {
    background-color: yellow;
    color: black;
}

.alarm-level {
    background-color: red;
    color: white;
}

.normal-level {
    background-color: green;
    color: white;
}