extends layout

block head
  link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='css/modbus-client.css')
  script(src='/lib/jquery-3.3.1.min.js')
  script(src='/lib/popper.js')
  script(src='/lib/bootstrap/js/bootstrap.js')
  script(src='/lib/lodash.js')
  script(src='/lib/vue.js')
  script(src='/socket.io/socket.io.js')


  script
    | var settings=
    != settings
    | ;

block content
  include modal-about.pug

  .container-fluid#modbus-app
    .navbar.navbar-expand-lg.navbar-light.bg-light
      .navbar-brand {{settings.config.title}}
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='#', v-on:click='view = 0') Registers
          li.nav-item
            a.nav-link(href='#', v-on:click='view = 1') Devices
          li.nav-item
            a.nav-link(href='#', data-toggle='modal', data-target='#aboutModal')
              | About


    div(v-if='view === 0')
      modbus-devices(v-bind:devices='devices')
    div(v-if='view === 1')

  script(src='/js/modbus-client.js')


