extends layout

block head
  link(rel='stylesheet', href='lib//bootstrap/css/bootstrap.min.css')
  script(src='/lib/jquery-3.3.1.min.js')
  script(src='/lib/popper.js')
  script(src='/lib/bootstrap/js/bootstrap.js')
  script(src='/lib/lodash.js')
  script(src='/lib/vue.js')
  script(src='/socket.io/socket.io.js')


  script
    | var settings=
    != settings
    | ;

block content
  .container-fluid#modbus-app
    h1 Modbus Client
    modbus-device(v-bind:device='devices[0]')
    modbus-device(v-bind:device='devices[1]')


  script(src='/js/modbus-client.js')


