doctype html
html(lang='de')
  // ****
  // Modbus-Client (c) 2018 Christian Kuster
  // ****
  head
    title= title

    block head
    // Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent
    script.

  body
    block content

